@model IEnumerable<DartApp.Models.Game>

<h1>Games</h1>
<table class="table">
    <thead>
        <tr>
            <th>Game ID</th>
            <th>Game Mode</th>
            <th>Acties</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var game in Model)
        {
            <tr>
                <td>@game.GameId</td>
                <td>@game.GameMode.Name</td>
                <td>
                    <!-- Link naar de GamesController om een specifieke game te starten -->
                    <a asp-controller="Games" asp-action="Index" asp-route-gameId="@game.GameId">Speel 301</a>
                </td>
            </tr>
        }
    </tbody>
</table>
