@model IEnumerable<DartApp.Models.Game>

<h1>Games</h1>
<table>
    <thead>
        <tr>
            <th>Game ID</th>
            <th>Game Mode</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var game in Model)
        {
            <tr>
                <td>@game.GameId</td>
                <td>@game.GameMode.Name</td>
            </tr>
        }
    </tbody>
</table>
